include MANIFEST.in
recursive-exclude pyunicorn/*/_ext *.c
recursive-include pyunicorn/*/_ext *.pxd *.pyx src_*.c
# recursive-exclude src/pyunicorn/*/_ext *.c
# recursive-include src/pyunicorn/*/_ext *.pxd *.pyx src_*.c

include *.rst *.txt docs/Makefile
graft docs/source
recursive-include examples *.py

recursive-include tests *.py
include pylintrc
