include MANIFEST.in
recursive-exclude src/pyunicorn/*/_ext *.c
recursive-include src/pyunicorn/*/_ext *.pxd *.pyx src_*.c

include *.rst *.txt docs/Makefile
graft docs/source
prune **/.ipynb_checkpoints

recursive-include tests *.py
