include MANIFEST.in
include *.rst *.txt

include docs/Makefile
recursive-include docs/source *

include *.ini pylintrc
recursive-include tests *.py
recursive-include examples *.py

global-exclude *.pyc *.pyo *.pyd
